.container-content {
  max-width: 70%;
  margin: 2em auto;
  padding: 0px;
}


.table-flex{
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.spinner-class {
  padding: 10px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
