<mat-card>

  <mat-card-content>
    <mat-toolbar color="primary"> <span>Pneumoultramicroscópicossilicovulcanoconiótico</span></mat-toolbar>

    <form [formGroup]="form">
      <mat-form-field class="example-full-width">
        <!-- <mat-label>Favorite food</mat-label> -->
        <input matInput placeholder="Nome" formControlName="name">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select formControlName="category" placeholder="Categories">
           <mat-option [value]="null">Categories</mat-option> <!-- Foi configurado como null para poder utilizar "categoty = vazio" -->
          <mat-option value="agiota">Agióta</mat-option>
          <mat-option value="hitman">Hitman</mat-option>
          <mat-option value="contar cartas">Contar cartas</mat-option>
          <mat-option value="171">171</mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions>

    <button mat-raised-button color="primary" (click)="onSubmit()">Salve</button>
    <button mat-raised-button (click)="onCancel()">List</button>


  </mat-card-actions>

</mat-card>
